nav {
  text-align: left;
  padding-right: 20px;
  background-color: darkblue;
  text-decoration: none;
}
nav ul li {
  display: inline-block;
  font-size: 25px;
  color: white;
  display: inline-block;
  margin: 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
.bottom {
  background-color: darkblue;
  position: relative;
  padding-top: 20px;
  color: whitesmoke;
  height: 30px;
  text-decoration: none;
  font-family: sans-serif;
}

.first-box {
  border: 3px red;
  width: 450px;
  height: 300px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.services {
  display: flex;
  justify-content: flex-start;
}
